body {
  background-color: rgb(248, 248, 248);
  font-family: sans-serif;
}

header, section, footer, aside, nav, article, figure, audio, video, canvas {
  display:block;
}

h1, h2, .ctr {
  text-align: center;
}

.meta-label {
  display: inline-block;
  float: left;
  clear: left;
  width: 70px;
  text-align: left;
}

.leftAlign {
  display: inline-block;
  float: left;
}

#date {
  width: 220px;
}

#state-select {
  width: 225px;
}

#agency {
  width: 219px;
}

textarea {
  width: 40em;
  height: 5em;
}

.txt {
  width: 40em;
}

.indented {
  margin-left: 3em;
}

.indented-more {
  margin-left: 4.4em;
}

html, body {
  height: 100%;
}

#main-page {
  min-height: 100%;
  margin-bottom: -26px; /* equal to -footer height */
}

footer {
  background: #eeeeee;
  position: fixed;
  height: 26px;
  left: 0;
  right: 0;
  bottom: 0;
}

#footer-div {
  height: 26px;
  border-style: groove;
  vertical-align: middle;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#footer-div div {
  width: 275px;
  height: 26px;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0.01px;
  line-height: 0;
}

#submit {
  font-size: 12px;
  background: #aaffaa;
  line-height: 14px;
}

#navigation-box * {
  font-size: 14px;
}

.grayed-out {
  color: #cccccc;
}

.hideable {
  display: none;
}

#contents {
  display: block;
}

#logout-link {
  margin-right: 0.3em;
  float: right;
}

#contents a, #footer-div a {
  color: #1a0dab;
}

#contents a {
  text-decoration: underline;
}

#contents a:hover, #footer-div a:hover {
  color: #660099;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.selected {
  color: #ff0000 !important;
}
